.help-element {
    display: inline-flex;
    justify-content: center;
}

.help-handle{
    position:relative;
    background-color:lightgrey;
    width:24px;
    height:24px;
    border-radius:50%;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:8px;
    margin-right:8px;
}

.help-handle:hover > .help-box{
    opacity:100%;
    visibility:visible;
}

.help-box {
    opacity: 0%;
    transition: visibility 0s, opacity 0.5s;
    position: absolute;
    visibility: hidden;
    width: 250px;
    left: -188px;
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
    margin-top: 8px;
    text-align: left;
}